.login-container {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main {
  background-color:floralwhite;
  height: 90%;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px gainsboro;
}

.form-login-container {
  width: 100%;
  flex-direction: column;
  margin-top: 150px;
}

input {
  width: 60%;
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 5px;
}

.login-button-container {
  width: 100%;
  flex-direction: column;
}

button {
  width: 60%;
}

button:hover {
  cursor: pointer;
}

.button-login {
  padding: 10px;
  background-color: white;
  border: 0px;
  box-shadow: 1px 1px 8px 1px gainsboro;
}

.button-login:hover {
  background-color: aliceblue;
}

.button-login:focus {
  background-color: #e6e6e6;
}